@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    rgba(255, 86, 246, 0.51) 100%,
    #8a0083 117.04%
    /* #3bace2 100%,
    #406aff 117.04% */
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    /* #406aff 21.43%,
    #3bace2 50.63%, */
    #8a0083 21.43%,
    rgba(255, 86, 246, 0.51) 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    /* #406aff 21.43%,
    #3bace2 50.63%, */
    #8a0083 21.43%,
    rgba(255, 86, 246, 0.51) 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#8a0083] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#8a0083];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-10
}

/* Dark Mode */

/* Gradient colors */
@layer utilities {
  .gradient-1 {
    background-image: radial-gradient(at 21% 46%, hsla(183,65%,60%,1) 0px, transparent 50%);
  }

  .gradient-2 {
    background-image: radial-gradient(at 23% 25%, hsla(359,74%,70%,1) 0px, transparent 50%);
  }

  .gradient-3 {
    background-image: radial-gradient(at 20% 1%, hsla(267,83%,75%,1) 0px, transparent 50%);
  }

  .gradient-4 {
    background-image: radial-gradient(at 86% 87%, hsla(204,69%,68%,1) 0px, transparent 50%);
  }

  .gradient-5 {
    background-image: radial-gradient(at 99% 41%, hsla(171,72%,77%,1) 0px, transparent 50%);
  }

  .gradient-6 {
    background-image: radial-gradient(at 55% 24%, hsla(138,60%,62%,1) 0px, transparent 50%);
  }

  .gradient-1-dark {
    background-image: radial-gradient(at 21% 46%, hsla(183,65%,60%,1) 0px, transparent 50%);
  }

  .gradient-2-dark {
    background-image: radial-gradient(at 23% 25%, hsla(359,74%,70%,1) 0px, transparent 50%);
  }

  .gradient-3-dark {
    background-image: radial-gradient(at 20% 1%, hsla(267,83%,75%,1) 0px, transparent 50%);
  }

  .gradient-4-dark {
    background-image: radial-gradient(at 86% 87%, hsla(204,69%,68%,1) 0px, transparent 50%);
  }

  .gradient-5-dark {
    background-image: radial-gradient(at 99% 41%, hsla(171,72%,77%,1) 0px, transparent 50%);
  }

  .gradient-6-dark {
    background-image: radial-gradient(at 55% 24%, hsla(138,60%,62%,1) 0px, transparent 50%);
  }
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  width: 3.5em;
  height: 2em;
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: toggle__animation 3s infinite;
}

.dir{
  animation: toggle__animation 3s infinite;
}

.switch::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  z-index: -1;
  border-radius: 50px;
  background-color: #ff56f6;
  @apply gradient-1 gradient-2 gradient-3 gradient-4 gradient-5 gradient-6;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfefe;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.35em;
  transition: .4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
  rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color: #ff99fd;
  @apply gradient-1 gradient-2 gradient-3;
}

/* Dark mode */
.switch.dark .slider:before {
  background-color: #ffffff;
  @apply gradient-1-dark gradient-2-dark gradient-3-dark;
  transform: translateX(1.5em);
}

.switch.dark .slider {
  background-color: #8a0083;
}

.switch.dark .slider:before {
  background-color: #ffffff;
  @apply gradient-1-dark gradient-2-dark gradient-3-dark;
}

.input__check:checked + .slider {
  background-color: #8a0083;
}


@keyframes toggle__animation {
  0%, 100% {
    transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
  }
}

